<form action="/pwds/<%= @pwd.id %>" method="post">
  <input type="hidden" name="_method" value="put"/>
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <h3>编辑密码</h3>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12 column">
        <form role="form">
          <div class="form-group">
            <label for="title">标题</label>
            <input id="title" name="pwd[title]" class="form-control" value="<%= @pwd.title %>"/>
          </div>
          <div class="form-group">
            <label for="url">URL</label>
            <input id="url" name="pwd[url]" class="form-control" value="<%= @pwd.url %>" />
          </div>
          <div class="form-group">
            <label for="name">用户名</label>
            <input id="name" name="pwd[name]" type="text" class="form-control" value="<%= @pwd.name %>" />
          </div>
          <div class="form-group">
            <label for="passwd">密码</label>
            <input id="passwd" name="pwd[passwd]" type="text" class="form-control" value="<%= @pwd.passwd %>" />
          </div>
          <div class="form-group">
            <label for="form_id">用户名表单ID</label>
            <input id="form_id" name="pwd[form_id]" type="text" class="form-control" value="<%= @pwd.form_id %>" />
          </div>

          <button type="submit" class="btn btn-success">保存</button>
        </form>
      </div>
    </div>
  </div>
</form>
